<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">User Profiles</a></li>
				<li><a href="/auth/register">Login/Register</a></li>
			</ul>
		</nav>
	</header>
	
	<h4><%=message%></h4>
</body>
</html>