<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Login</h3>
	<form action="/auth/login" method="POST">
		Username: <input type="text" name="username" placeholder="username">
		Password: <input type="password" name="password" placeholder="password">
		<button type="submit">Login</button>
	</form>
	<h4><%=message%></h4>
</body>
</html>