<!DOCTYPE html>
<html>
<head>
	<title>Project 2</title>
</head>
<body>
	<header>
		<nav>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">User Profiles</a></li>
			<li><a href="/auth/register">Login/Register</a></li>
		</nav>
		<h1>Welcome to the Appc</h1>
	</header>
</body>
</html>