<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title>Edit Restaurant</title>
</head>

<%include ../_navbar.ejs%>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-body modal-dialog-centered" role="document">

      <div class="login-form">


        <form action="/auth/login" method="post">

          <button class="close" data-dismiss="modal">X</button>

          <h2 class="text-center">Sign in</h2>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
          </div>

          <div class="or-seperator">
            <i>or</i>
          </div>
          <p class="text-center">Login with Google</p>
          <div class="text-center social-btn">
            <a href="/auth/google" class="btn btn-danger">
              <i class="fa fa-google"></i>&nbsp; Google</a>


          </div>
        </form>
        <p class="text-center text-muted small">Don't have an account?
          <a href="/auth">Sign up here!</a>
        </p>
      </div>
    </div>
  </div>

  <body>
    <div class="container">

      <h1>Edit Restaurant</h1>
      <hr>
      <div class="container">
        <div class="homeLink">
          <a href="/">Home</a>
        </div>
        <div class="restLink">
          <a href="/restaurants">Restaurant Index</a>
        </div>
      </div>
      <hr>


      <body class="restaurant-edit">
        <div class="jumbotron">
          <h1 class="display-4" id="opaque">Update a Restaurant</h1>
          <p class="lead">Have some additional info to enter for your favorite hanout?</p>
          <hr class="my-4">
          <p class="lead" id="leader">Don't forget to leave a review!</p>



        </div>

        <br>
        <br>
        <div class="container">

          <form action="/restaurants/<%=restaurant.id%>?_method=PUT" method="POST">
            <label class="edit-label">Restaurant Name</label>
            <input class="form-control" type="text" name="name" value="<%=restaurant.name%>">
            <br>
            <label class="edit-label">Website</label>
            <input class="form-control" type="type" name="website" placeholder="Website">
            <br>
            <label class="edit-label">City, State</label>
            <input class="form-control" type="text" name="restaurantLocation" placeholder="City, State">
            <br>
            <input class="form-control" type="text" name="zipcade" placeholder="Zip Code">
            <br>
            <label class="edit-label">Type of Restaurant</label>
            <input class="form-control" type="text" name="typeOfRestaurant" placeholder="Type of Restaurant (ex. pizza, coffee, and steak, etc.)">

            <br>
            <h6 class="rate-update">Rate the Restaurant</h6>
            <h6></h6>
            <div class="form-check form-check-inline">

              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
              <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3">
              <label class="form-check-label" for="inlineRadio4">4</label>
            </div>
            <br>
            <br>

            <div class="form-group">
              <label class="edit-label" for="exampleFormControlSelect1">Price Range:</label>
              <select class="form-control" id="exampleFormControlSelect1" name="price">
                <option>$</option>
                <option>$$</option>
                <option>$$$</option>
                <option>$$$$</option>
              </select>
            </div>

            <div class="form-group">
              <label class="edit-label" for="exampleFormControlTextarea1">Comments</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
            </div>
            <br>

            <button type="submit" class="btn btn-secondary btn-lg" id="btnlg">Update Restaurant</button>
          </form>

        </div>

        <!-- Optional JavaScript -->


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
          crossorigin="anonymous"></script>
      </body>

</html>