<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Restaurant Index Page</title>
  </head>
   
  <body>
     <%include ../_navbar.ejs%>
   
   <!-- Jumbotron -->
   <div class="jumbotron">
      <h1>Restaurant Directory</h1>
        <p>Restaurant directory - find a restaurant that is dog friendly or add a restaurant that is dog friendly  </p> 
      <hr class="my-4">
      
      <div class="container">
        <form action="/restaurants" method="GET">
            <input class="form-control-lg" type="text" name="name" placeholder="Restaurant Name">
            <input class="form-control-lg" type="text" name="zipcode" placeholder="Your Zipcode">
            <!-- <input type="submit" value="Search"> -->
            <button type="submit" class="btn btn-secondary btn-lg" value="search">Search</button>
        </form>
        </div>
        <br>
        <br>
      <a class="btn btn-secondary btn-md" href="/restaurants/new" role="button">Create a New Restaurant</a>
      </p>
    </div>


        <div class="container">
          <div class="row imagetiles">
        <%for(let i = 0; i < restaurants.length; i++) {%>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <a href="/restaurants" class="d-block mb-4 h-100">     
              <img class="img-fluid img-thumbnail" src="<%=restaurants[i].url%>"> </a>
              <a href="/restaurants/<%=restaurants[i].id%>"><%=restaurants[i].name%></a>
            </div>
          <% }%> 
          </div>
        </div>




    <!-- Optional JavaScript -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
