<!DOCTYPE html>
<html>
  <head>
    
    <title></title>
  </head>
  <body>
    <header>
      
      <h3>Hello</h3>

      <h1>Restaurant (Index Page)</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/restaurants/new">Create a new Restaurant</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>List of Restaurant</h2>
      <ul>
        <% for(let i = 0; i < restaurants.length; i++){ %>
          <li>
            <a href="/restaurants/<%=restaurants[i]._id%>"><%=restaurants[i].name%></a>
          </li>
        <% } %>
      
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </main>
  </body>
</html>
